:root {
    --color-principal: #0eb200;
}

/* Zoo description */
.welcome {
    align-self: center;
}

.welcome h1 {
    color: var(--color-principal);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.1em;
    text-align: center;
    padding-bottom: 40px;
    margin-top: 50px;
}

.description {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    line-height: 2;
}

/* slider animals */

.carousel-item-comment img {
    width: 200px;
    height: 450px;
    padding: 50px;
}

.title-principal-avis h2 {
    color: var(--color-principal);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
}

/* slider comments */
.slide-title-comment h2 {
    color: var(--color-principal) !important;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    justify-content: center !important;
}


/* responsive navbar */

@media (min-width: 992px) {
    .navbar-container {
        background-color: #0eb200;
    }
}

/* responsive small screen */

@media screen and (max-width: 576px) {
    .description {
        font-size: 15px;
    }
    .welcome h1 {
        font-size: 25px;
    }
    .slide-title-comment h2,
    .title-principal-avis h2 {
        font-size: 20px;
    }
}

/* responsive medium screen*/
@media screen and (min-width: 577px) and (max-width: 768px) {
    .description {
        font-size: 16px;
    }
}

/* responsive large screen */
@media screen and (min-width: 769px) and (max-width: 992px) {
    .description {
        font-size: 20px;
    }
}

/* responsive large and plus screen */
@media screen and (min-width: 993px) {
    #carousel-animals,
    .carousel-inner .carousel-item-animal img {
        height: 70vh !important;
    }

    .slide-title-comment {
        justify-content: center;
    }
}