:root {
    --color-principal: #0eb200;
} 

/* Titles */

h1 {
    color: var(--color-principal) !important;
    font-family: "Raleway", sans-serif !important;
    font-weight: bold !important;
    text-align: center;
    margin-top: 50px;
}

/* Form */

#form-connexion {
    box-sizing: border-box;
    padding: 20px 40px;
    margin: 20px auto;
    padding: 10px;
    padding-bottom: 50px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ecf0f1;
    height: 350px !important;
}

.label {
    font-size: 15px;
    font-weight: bold;
}

/* .btn-center {
    display: flex;
    justify-content: center;
} */

/* responsive small screen */

@media screen and (max-width: 576px) {
    h1 {
        font-size: 18px !important;
    }
}

/* responsive medium screen*/
@media screen and (min-width: 577px) and (max-width: 768px) {
    h1 {
        font-size: 20px !important;
    }
}

/* responsive large screen */
@media screen and (min-width: 769px) and (max-width: 992px) {
    h1 {
        font-size: 25px !important;
    }
}

/* responsive large and plus screen */
@media screen and (min-width: 993px) {
    h1 {
        font-size: 25px !important;
    }
}