<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{ title }}
			{% endblock %}
		</title>

		{{ encore_entry_link_tags('app') }}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include 'common_front/header.html.twig' %}
		{% endblock %}

		{% block body %}{% endblock %}

		{% block footer %}
			{% include 'common_front/footer.html.twig' %}
		{% endblock %}
	</body>
	</html>
