<footer class="footer bg-#0eb200 text-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				{{'&copy; 2024 Zoo Arcadia Tous droits réservés'}}
			</div>
		</div>
	</div>

</footer>
