<footer class="footer bg-#0eb200 text-light mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<nav>
					<ul>
						<li>
							&copy; 2024 Zoo Arcadia</li>
						<li>Tous droits réservés</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</footer>
